/lab2/SKaletaKWanat/nbproject/private/
/lab2/SKaletaKWanat/build/
/lab2/SKaletaKWanat/dist/
/lab2/my_app/target/
/lab04/lab04/nbproject/private/
/lab04/lab04/build/
/lab04/lab04/dist/
/lab4Client/Lab04Client/nbproject/private/
/lab4Client/Lab4Client/nbproject/private/
/lab4Client/Lab4Client/build/
/Lab04Client/Lab04Client/nbproject/private/
/Lab04Client/Lab04Client/build/
/lab5/kody/pickModule/nbproject/private/
/lab5/kody/pickModule/build/
/lab5/kody/flowModule/nbproject/private/
/lab5/kody/flowModule/build/
/lab5/kody/pickCA/nbproject/private/
/lab5/kody/pickCA/build/
/lab5/kody/pickCA/src/jbiServiceUnits/
/lab5/kody/pickCA/dist/
/lab5/kody/flowCA/nbproject/private/
/lab5/kody/flowCA/build/
/lab5/kody/flowCA/src/jbiServiceUnits/
/lab5/kody/flowCA/dist/
/lab5/kody/TempConverter/nbproject/private/
/lab5/kody/TempConverter/build/
/lab5/kody/TempConverterCA/nbproject/private/
/lab5/kody/TempConverterCA/src/jbiServiceUnits/
/lab5/kody/TempConverterCA/build/
/lab5/kody/TempConverterCA/dist/
/lab5/kody/extapp/build/
/lab5/kody/extapp/dist/
/lab5/kody/extapp/nbproject/private/
/lab5/kody/extapp/src/jbiServiceUnits/
/lab5/kody/extservice2/build/
/lab5/kody/extservice2/nbproject/private/
/lab6/kody/zad1/nbproject/private/
/lab6/kody/zad1/build/
/lab6/kody/zad1CA/nbproject/private/
/lab6/kody/zad1CA/src/jbiServiceUnits/
/lab6/kody/zad1CA/build/
/lab6/kody/zad1CA/dist/